{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ user.username }}
{% endblock %}

{% block body %}
	<h1 style="text-align:center">Profil de
		{{ user.username }}</h1>

	<div class="container">
		<div class="row">
			<div
				class="col-sm-3">
				<!--left col-->


				<div class="text-center">
					<img src="/images/users/{{ user.filename }}" class="avatar img-circle img-thumbnail" alt="avatar">
					<h6>Changer mon avatar</h6>
					<input type="file" class="text-center center-block file-upload">
				</div>
			</hr><br>

			<ul class="list-group">
				<li class="list-group-item text-muted">Activité
					<i class="fa fa-dashboard fa-1x"></i>
				</li>
				<li class="list-group-item text-right">
					<span class="pull-left">
						<strong>Formations suivies</strong>
					</span>
					{{ user.formations | length }}</li>
				<li class="list-group-item text-right">
					<span class="pull-left">
						<strong>Projets suivis</strong>
					</span>
					13</li>
			</ul>
		</div>
		<!--/col-3-->
		<div class="col-sm-9">
			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<hr>
					<form class="form" action="##" method="post" id="registrationForm">
						<div class="form-group">

							<div class="col-xs-6">
								<label for="first_name">
									<h4>Prénom</h4>
								</label>
								<input type="text" class="form-control" name="first_name" id="first_name" placeholder="{{user.fname}}" title="enter your first name if any.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name">
									<h4>Nom de famille</h4>
								</label>
								<input type="text" class="form-control" name="last_name" id="last_name" placeholder="{{user.lname}}" title="enter your last name if any.">
							</div>
						</div>

						<div class="form-group">

							<div class="col-xs-6">
								<label for="phone">
									<h4>Téléphone</h4>
								</label>
								<input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="email">
									<h4>Email</h4>
								</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="password">
									<h4>Mot de passe</h4>
								</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="******" title="enter your password.">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<br>
								<button class="btn btn-lg btn-success" type="submit">
									<i class="glyphicon glyphicon-ok-sign"></i>
									Sauvegarder</button>
							</div>
						</div>
					</form>

					<hr>

				</div>
				<!--/tab-pane-->
				<div class="tab-pane" id="messages">

					<h2></h2>

					<hr>
					<form class="form" action="##" method="post" id="registrationForm">
						<div class="form-group">

							<div class="col-xs-6">
								<label for="first_name">
									<h4>First name</h4>
								</label>
								<input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name">
									<h4>Last name</h4>
								</label>
								<input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
							</div>
						</div>

						<div class="form-group">

							<div class="col-xs-6">
								<label for="phone">
									<h4>Phone</h4>
								</label>
								<input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-6">
								<label for="mobile">
									<h4>Mobile</h4>
								</label>
								<input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="email">
									<h4>Email</h4>
								</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="email">
									<h4>Location</h4>
								</label>
								<input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="password">
									<h4>Password</h4>
								</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="password2">
									<h4>Verify</h4>
								</label>
								<input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<br>
								<button class="btn btn-lg btn-success" type="submit">
									<i class="glyphicon glyphicon-ok-sign"></i>
									Save</button>
								<button class="btn btn-lg" type="reset">
									<i class="glyphicon glyphicon-repeat"></i>
									Reset</button>
							</div>
						</div>
					</form>

				</div>
				<!--/tab-pane-->
				<div class="tab-pane" id="settings">


					<hr>
					<form class="form" action="##" method="post" id="registrationForm">
						<div class="form-group">

							<div class="col-xs-6">
								<label for="first_name">
									<h4>First name</h4>
								</label>
								<input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name">
									<h4>Last name</h4>
								</label>
								<input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
							</div>
						</div>

						<div class="form-group">

							<div class="col-xs-6">
								<label for="phone">
									<h4>Phone</h4>
								</label>
								<input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-6">
								<label for="mobile">
									<h4>Mobile</h4>
								</label>
								<input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="email">
									<h4>Email</h4>
								</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="email">
									<h4>Location</h4>
								</label>
								<input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="password">
									<h4>Password</h4>
								</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
							</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="password2">
									<h4>Verify</h4>
								</label>
								<input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<br>
								<button class="btn btn-lg btn-success pull-right" type="submit">
									<i class="glyphicon glyphicon-ok-sign"></i>
									Save</button>
								<!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
							</div>
						</div>
					</form>
				</div>

			</div>
			<!--/tab-pane-->
		</div>
		<!--/tab-content-->

	</div>
	<!--/col-9-->
</div>
<!--/row-->{% endblock %}
